{% extends 'tienda/base.html' %}

{% block title %}Ingresar - GreenBoxd{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow border-0">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4 fw-bold text-dark">Formulario de Ingreso</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark w-100 mt-3">Ingresar al Sitio</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
